@font-face {
  font-family: 'portmanteau';
  src: url('fonts/Portmanteau-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Portmanteau-Regular.woff') format('woff'), url('fonts/Portmanteau-Regular.ttf') format('truetype'), url('fonts/Portmanteau-Regular.svg#svgFontName') format('svg');
}
body {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#a6a4a1;
  font-family: 'portmanteau', serif;
}
/*NAVIGATION*/

.navbar {
  position: absolute;
  left: 0px;
  top: 35px;
  width: 130px;
}
.navbar ul {
  background: none;
  margin-left:-40px;
}
.navbar ul li {
  display: block;
  height: 30px;
  width: 130px;
  background: #070707;
  padding: 2px 5px;

}
.navbar .active{
  width:160px;
  background: #3b2e18;
  color:#a6a4a1;
}
.navbar ul li img{float:left;}
/*HEADER*/

.header h1 {
  text-align: center;
  margin: 35px 30px;
  letter-spacing: 1.8em;
  font-size: 36px;
  color: #a6a4a1;
  font-family: 'portmanteau';
}
/*CONTENT*/

.content {} .box {
  height: 130px;
  width: 200px;
  background: #3b2e18 0px -5px no-repeat;
  border-radius: 7px;
  margin: 10px 10px;
}
.box h2{
  color:yellow;
  position: relative;
  left:170px;
  top:-60px;
}

ul.block-grid-3 {
   display: block;
   overflow: hidden;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
ul.block-grid-3 > li {
   width: 25%;
   float: left;
   padding: 0 12px 12px;
   display: block;
   height: auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
ul.block-grid-3 > li:nth-of-type(5n) {
   clear: left;
}

.filters {} .center-block {
  float: none !important
}
